<a href="https://colab.research.google.com/github/Advait019/G-Collab/blob/main/Python_Data_Structure_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a
a

[]

In [4]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [2]:
languages=['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [3]:
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Using for loop iterate and print all the elements in the list

In [7]:

for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [10]:
temp=languages[1]

Print the value of temp and type(temp)

In [11]:

print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [7]:
languages.append('Java ')
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java ', 'Java ', 'Java ']

Remove the element 42 from the list and print the list

In [15]:
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [16]:
colors=['Red','Blue','White']
colors

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [17]:

colors.append('Black')
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [23]:
colors.insert(1, 'orange')
colors

['Red', 'orange', 'Blue', 'White', 'Black']

Print the list

In [24]:
print(colors)

['Red', 'orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [26]:
colors2=['Grey','Sky Blue']
colors2

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [27]:
colors.extend(colors2)
colors

['Red', 'orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [31]:
print(len(colors))
print(colors)

7
['Red', 'orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [32]:

colors.sort()
colors

['Black', 'Blue', 'Grey', 'Red', 'Sky Blue', 'White', 'orange']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [33]:
sent='Coronavirus Caused Lockdowns Around The World.'
sent

'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [34]:
sent.split()
sent

'Coronavirus Caused Lockdowns Around The World.'

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [64]:
words_lower=sent.lower()
print(words_lower)

coronavirus caused lockdowns around the world.

Check whether ‘country’ is in the list

In [41]:

if i=='country':
    print('Yes, The word is present in the list')

else:
    print('No, The word is not present in the list')

No, The word is not present in the list

Remove the element ‘the’ from the list and print the list.

In [78]:

words_lower = [word.lower() for word in words_lower]  # Recreate words_lower as a list

if 'the' in words_lower:
    words_lower.remove('the')
    print(words_lower)
#else:
 #   print("'the' is not in the list")

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [72]:
new_variable=words_lower[:4]
x4=new_variable

In [73]:
# print x4
print(x4)

['c', 'o', 'r', 'o']

Convert the list of elements to single string using join function and print it

In [74]:

x4=''.join(x4)
print(x4)

coro

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [79]:
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [80]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [83]:
stud_grades_set=set(stud_grades)
stud_grades_set

{'A', 'B', 'C', 'F'}

Print stud_grades_set.

In [82]:

print(stud_grades_set)

{'B', 'C', 'F', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [87]:

print("Type of stud_grades:", type(stud_grades))
print("Elements of stud_grades:", stud_grades)

print("\nType of stud_grades_set:", type(stud_grades_set))
print("Elements of stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']

Type of stud_grades_set: <class 'set'>
Elements of stud_grades_set: {'B', 'C', 'F', 'A'}

Add a new element ‘G’ to stud_grades_set

In [88]:
stud_grades_set.add('G')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [89]:


stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [90]:

stud_grades_set.remove('F')
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [91]:

print(stud_grades_set)
print(len(stud_grades_set))

{'B', 'G', 'C', 'A'}
4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [92]:

colors=['red','blue','orange']
fruits=['orange','grapes','apples']

Print color and fruits

In [93]:


print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [94]:
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'orange', 'blue'}
{'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [95]:

union_set=colors_set.union(fruits_set)
union_set

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [97]:

intersection_set=colors_set.intersection(fruits_set)
intersection_set

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [98]:
not_colors=fruits_set.difference(colors_set)
not_colors

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [99]:

temp=[17,'Virat',50.0]
temp

[17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [100]:

for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [101]:

temp[0]=11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [102]:

temp1=tuple(temp)
temp1

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [103]:

for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [105]:
temp1[0]=17
temp1

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [106]:

city=("Bangalore",28.9949521,72)
city

('Bangalore', 28.9949521, 72)

Print first element of city

In [107]:

print(city[0])

Bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [108]:

city2=('Chennai',30.01,74)
city2

('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [109]:

cities=(city,city2)
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [110]:

print(cities)

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [111]:

print(type(cities[0]))

<class 'tuple'>

print the type of cities

In [112]:

print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [113]:

d={"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}
d

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the value of d[0]

In [114]:

print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [115]:

actor=d['actor']
actor

'amir'

Print the type of actor

In [116]:

print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [117]:

List=d['list']
List

[23, 32, 12]

Print the type of List.

In [118]:

print(type(List))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [119]:

d1={'singer':'Kr$na','album':'Still here','genre':'hip-hop'}
d1

{'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [120]:

d.update(d1)
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

print d

In [121]:
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [122]:

print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [123]:

print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [124]:

for key,value in d.items():
    print(key,'---->',value)

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [125]:

sent='Coronavirus Caused Lockdowns Around The World.'
char_count={}
for char in sent:
    if char in char_count:
        char_count[char]+=1
    else:
        char_count[char]=1
print(char_count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}